[submodule "spot_description"]
	path = spot_description
	url = https://github.com/bdaiinstitute/spot_description.git
[submodule "LIO-SAM"]
	path = LIO-SAM
	url = https://github.com/TixiaoShan/LIO-SAM.git
	branch = ros2
[submodule "src/velodyne_simulator"]
	path = src/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
	branch = ros2
