<?xml version="1.0"?>

<!-- Ideal Environment Model -->

<model>
  <name>ideal_env_model</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Mal Fazliu</name>
    <email>ttmf2@lunet.lboro.ac.uk</email>
  </author>

</model>
